*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.joystick{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: .3s;
    width: 50%;
}
.joystick:hover{
    transform: scale(1.1);
}

.nav{
    background-color: rgb(54, 125, 207);
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    

}

.nav__item,
.bx{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    color: #222;
    
}





.genero{
    display: flex;
    
    background-color: red;
}
.genero__items{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid blue;
    justify-content: center;
}
.genero__item{
    justify-content: space-between;
    list-style: none;
    margin: 0 3rem;
    width: 3rem;

}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
   
    margin: 0 auto;
}
.container__box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.videogames{
    width: 250px;
    min-height: 321px;
    padding: 0 10px;
    border-radius: 35px;
}

button{
    color: rgb(36, 34, 34);
    background-color: #eee;
    
    border-radius: 6px ;
    height: 2.3rem;
    width: 7rem;
    transition: .4s;
    
}
button:hover{
    background-color: rgb(46, 79, 151);
    color: #eee;
    cursor: pointer;
}



.bx-plus-circle,
.bx-arrow-back{
    font-size: 2rem;
}



.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    margin-bottom: 10rem;
    border-radius: 10px;
    background-color: rgb(0,67,156);
    height: 24rem;
    width: 100%;
}
.form__container{
    margin-bottom: 2.6rem;
    color: #eee;
    margin-top: 0;
}

.form__input{
    outline: none;
    width: 17rem;
    height: 2rem;
}

.form__element{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #eee;
    
}

.bx-plus-circle,
.bx-arrow-back{
    font-size: 2rem;
}

.li__items{
    list-style: none;
    color: #eee;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
}


.comentaries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 20px;
    background-color: rgb(0,67,156);
} 

.comentaries__tittle{
    color: #eee;;
    font-size: 2.2rem;
}

.conentaries__sub{
    flex-direction: row;
    width: 75%;
}

.comentaries__input{
    height: 4rem;
    border-radius: 10px;
    width: 100%;
    
    background-color: #eee;
}


.comentarios__section{
    display: flex;
    font-style: italic;
    font-size: 3rem;
    border-radius: 10px;
}

.comentarios__section__2{
    margin: 1.2rem;
    color: #eee;
}


.comentaries__section__p{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
}